<template>
    <q-page class="q-pa-lg">
      <h4>Submit your data for publication.</h4>
      <h5>We will generate the stub of a research paper for you.</h5>

      <div>
        <h6>What would you like to upload?</h6>
        <q-list>
          <q-item clickable>
            <q-item-label>A dataset in tabular format (CSV, TSV, and the like)</q-item-label>
          </q-item>
          <q-item clickable to="/metadataForm">
            <q-item-label>Study metadata via form</q-item-label>
          </q-item>
          <q-item clickable to="/jsonSubmission">
            <q-item-label>Study data and metadata in JSON format (see our formatting guidelines)</q-item-label>
          </q-item>
          <q-item clickable to="/jsonSubmissionAlt">
            <q-item-label>
              Study data and metadata in JSON format (alternative, see our formatting guidelines)
            </q-item-label>
          </q-item>
        </q-list>
      </div>
    </q-page>
</template>

<script>
export default {};
</script>
