<template>
    <q-page class="q-pa-lg">
        <h3>Study Design Planner</h3>
        <div>
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
                <q-input label="Name" placeholder="Study Name" v-model="form.name" />
                <q-input label="Description" placeholder="Study Description" v-model="form.description" />
                <q-input label="Subject Type" placeholder="Subject Type" v-model="form.subjectType" />
                <q-input label="Group Size" placeholder="Group Size" v-model="form.size" />
                <q-select
                    class="q-m-b-md"
                    standout="bg-teal text-white"
                    v-model="form.type"
                    :options="studyDesignTypes"
                    label="Study Design Type"
                    emit-value
                />
                <div v-if="form.type === 'fullFactorial'" class="q-gutter-md">
                    <q-select
                        label="Agents"
                        placeholder="Agents as a comma-separated list"
                        v-model="form.elementParams.agents"
                        filled
                        use-chips
                        use-input
                        multiple
                        hide-dropdown-icon
                        input-debounce="0"
                        new-value-mode="add-unique"
                    />
                    <q-select
                        label="Intensities"
                        placeholder="Intensity levels as a comma-separated list"
                        v-model="form.elementParams.intensities"
                        filled
                        use-chips
                        use-input
                        multiple
                        hide-dropdown-icon
                        input-debounce="0"
                        new-value-mode="add-unique"
                    />
                    <q-input label="Intensity Unit" placeholder="Measure units of the intensity levels"
                        v-model="form.elementParams.intensityUnit"
                    />
                    <q-select
                        label="Durations"
                        placeholder="Durations of the intervention/somministration of the agent"
                        v-model="form.elementParams.durations"
                        filled
                        use-chips
                        use-input
                        multiple
                        hide-dropdown-icon
                        input-debounce="0"
                        new-value-mode="add-unique"
                    />
                    <q-input label="Dutation Unit" placeholder="Measure units for the duration levels"
                        v-model="form.elementParams.durationUnit"
                    />

                </div>
                <div class="q-m-md q-gutter-sm">
                    <q-btn label="Submit" type="submit" color="primary"/>
                    <q-btn label="Reset" type="reset" color="secondary" />
                </div>
            </q-form>
            <div v-if="hasComputedStudyDesign" class="q-m-md q-gutter-sm">
                <factorial-design-picker :study-design="computedStudyDesign" />
            </div>
            <div v-if="hasStudy" class="q-m-md q-gutter-sm">
                <study-renderer />
            </div>
        </div>
    </q-page>
</template>

<script>
// import Vue from 'vue';
import { mapGetters } from 'vuex';
import { isEmpty } from 'lodash';
import api from '../api/studyDesign-api';
import FactorialDesignPicker from 'src/components/FactorialDesignPicker';
import StudyRenderer from 'src/components/StudyRenderer';

export default {

    data() {
        return {
            studyDesignTypes: [{
                label: 'Factorial Design',
                value: 'fullFactorial'
            }],
            form: {
                name: '',
                description: '',
                subjectType: '',
                size: 0,
                type: '',
                elementParams: {
                    agents: [],
                    intensities: [],
                    intensityUnit: '',
                    durations: [],
                    durationUnit: ''
                }
            }
        };
    },

    components: {
        FactorialDesignPicker,
        StudyRenderer
    },

    computed: {
        ...mapGetters({
            computedStudyDesign: 'study/computedStudyDesign',
            study: 'study/studyData'
        }),
        hasComputedStudyDesign: function() {
            return !isEmpty(this.computedStudyDesign);
        },
        hasStudy: function() {
            return !isEmpty(this.study);
        }
    },

    methods: {

        async onSubmit() {
            const studyDesign = await api.generateStudyDesign(this.form);
            this.$store.dispatch('study/setComputedStudyDesign', {
                studyDesign
            });
        },
        onReset() {}
    }

};
</script>
