<template>
    <q-page class="q-pa-lg">
        <h4>Study Design and Metadata submission form</h4>
        <q-form>

        </q-form>
    </q-page>
</template>

<script>
export default {

};
</script>

<style lang="scss">

</style>
