<template>
    <q-page class="q-pa-lg">
        <h4>Submit document in JSON format describing your study and study design</h4>
        <div id="dropzone" v-cloak>
            <div class="dropzone" @drop.prevent="addJSONFile"
                @dragover.prevent="highlight" @dragenter.prevent="highlight"
                @dragleave.prevent="unhighlight"
            >
                <h5>File(s) to upload (Drag them over here)</h5>
            </div>
            <q-list>
                <q-item v-for="file in files" :key="file.name"
                    clickable
                >
                    <q-icon name="file" />
                    <q-item-label>{{ file.name }}</q-item-label>
                    <q-item-label caption>{{ `${file.size | kb} kb ` }}</q-item-label>
                    <q-btn color="primary" icon="fas fa-trash-alt" label="Remove File" />
                </q-item>
            </q-list>
        </div>
    </q-page>
</template>

<script>
import Vue from 'vue';

Vue.filter('kb', val => {
    return Math.floor(val / 1024);
});

export default {

    data() {
        return {
            files: []
        };
    },

    computed: {
        uploadDisabled() {
            return this.files.length === 0;
        }
    },

    methods: {

        addJSONFile(ev) {
            const dropArea = ev.currentTarget;
            dropArea.classList.remove('highlight');
            const droppedFiles = ev.dataTransfer.files;
            if (!droppedFiles) return;
            // this tip, convert FileList to array,
            // credit: https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
            [...droppedFiles].forEach(file => {
                this.files.push(file);
            });
        },

        highlight(ev) {
            const dropArea = ev.currentTarget;
            dropArea.classList.add('highlight');
        },

        unhighlight(ev) {
            const dropArea = ev.currentTarget;
            dropArea.classList.remove('highlight');
        },

        removeFile(file) {
            this.files.pop(file);
        },

        uploadAndStore() {
            return false;
        },

        uploadAndConvert() {
            return false;
        }
    }

};
</script>

<style scoped lang="scss">
.dropzone {
    max-width: 720px;
    padding: 54px 54px;
    background: lightgrey;
    border: 2px dashed grey;
    margin-bottom: 10px;
}
.dropzone.highlight {
    border-color: lightskyblue;
    background: azure;
    color: blue;
}
</style>
