<template>
    <div>
        <p>{{ `The computed study design has ${expandedStudyDesign.arms.length} arms (i.e. groups).` }}</p>
        <q-list>
            <q-item clickable v-for="(arm, armIndex) in expandedStudyDesign.arms" :key="arm.name">
                <q-item-section side middle>
                    <q-checkbox v-model="selectedArms[armIndex]" />
                </q-item-section>
                <q-item-section>
                    <q-item-label>{{ arm.name }}</q-item-label>
                </q-item-section>
                <q-item-section v-for="(element, elementIndex) in arm.elements" :key="elementIndex">
                    <q-item-label>
                        {{ element.name }}
                        <q-chip color="green" text-color="white" square>{{
                            `Agent: ${element.agent}`
                        }}</q-chip>
                        <q-chip color="blue" text-color="white" square>{{
                            `Intensity: ${element.intensity} ${element.intensityUnit}`
                        }}</q-chip>
                        <q-chip color="orange" text-color="white" square>{{
                            `Duration: ${element.duration} ${element.durationUnit}`
                        }}</q-chip>
                    </q-item-label>
                </q-item-section>
            </q-item>
        </q-list>
        <div class="q-m-md q-gutter-sm">
            <q-btn label="Save selected Arms" v-on:click.prevent="onSubmit" type="submit"  color="primary"/>
            <q-btn label="Delete all Arms" v-on:click.prevent="onReset" type="reset" color="secondary" />
        </div>
    </div>
</template>

<script>
// import { isEmpty } from 'lodash';
import { lite } from 'datascriptor-core';

export default {
    data() {
        return {
            selectedArms: Array(this.studyDesign.arms.length).fill(false)
        };
    },

    props: {
        studyDesign: Object
    },

    computed: {
        /**
         * @function
         * @name expandedComputedStudyDesign
         * @description returns the expanded version of the study design JSON
         */
        expandedStudyDesign: function() {
            return lite.StudyDesign.fromJSON(this.studyDesign).toExpandedJSON();
        }
    },

    methods: {
        onSubmit() {
            const expandedStudyDesign = this.expandedStudyDesign;
            expandedStudyDesign.arms = expandedStudyDesign.arms.filter((arm, index) => this.selectedArms[index] === true);
            const study = {
                design: lite.StudyDesign.fromExpandedJSON(expandedStudyDesign).toJSON(),
                dataset: null
            };
            const textFactory = new lite.StudyTextFactory(study);
            const studyReport = {
                arms: textFactory.generateArmsReport(),
                events: textFactory.generateEventsReport(),
                elements: textFactory.generateElementsReport()
            };
            this.$store.dispatch('study/storeConvertedStudy', {
                studyData: study,
                studyReport
            });
        },
        onReset() {
            this.selectedArms = Array(this.studyDesign.arms.length).fill(false);
        }
    }
};
</script>
