<template>
    <div>
        <p>{{ elementPlanGraph }}</p>
        <div v-html="elementPlanSvg" />
    </div>
</template>

<script>
import { isEmpty } from 'lodash';
import { mermaidAPI } from 'mermaid';
// import mermaid from 'mermaid/src/mermaidAPI';

let graphIdCounter = 0;
const FLOWCHART_CONFIG = {
    startOnLoad: false,
    width: '100%'
};

export default {

    props: {
        studyDesign: Object
    },

    data() {
        return {
            elementPlanSvg: null,
            config: FLOWCHART_CONFIG
        };
    },

    computed: {
        /**
         * @method
         * @name elementPlanGraph
         * @description generates the mermaid graph for the element plan
         */
        elementPlanGraph: function() {
            console.log(`computed.elementPlanGraph - ${JSON.stringify(this.studyDesign)}`);
            const { studyDesign = {} } = this;
            if (isEmpty(studyDesign)) return null;
            let graph = `graph LR\n`;
            let count = 0;
            for (const arm of studyDesign.arms) {
                graph += `subgraph ${arm.name}  \n`;
                const { epochs = [] } = arm;
                const elementsByEpochArr = epochs.map(epoch => {
                    const { elements = [] } = epoch;
                    return elements.map(elementId => studyDesign.elements.find(el => el.id === elementId));
                });
                const armGraph = elementsByEpochArr.map(elementsInEpoch => {
                    return isEmpty(elementsInEpoch) ? `id_${count++}["(None)"]` : elementsInEpoch.map(
                        el => `id_${count++}[" ${el.name} "]`
                    ).join(' & ');
                }).join(' --> ');
                graph += `\t${armGraph};\n`;
                graph += 'end\n';
            }
            return graph;
        }
    },

    /**
     * TODO complete and test this
     */
    mounted() {
        mermaidAPI.initialize(this.config);
        /*
        const renderDiv = document.createElement('div');
        document.body.appendChild(renderDiv);
        */
        mermaidAPI.render(
            `mermaid${++graphIdCounter}`,
            this.elementPlanGraph,
            (svg) => {
                console.log(`We're in the callback!!`);
                this.elementPlanSvg = svg;
                // document.body.removeChild(renderDiv);
            } /*,
            renderDiv */
        );
    }

};
</script>
